integrations/n8n/workflows/01-daily-context-builder.json
{
  "name": "Daily Context Builder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 6 * * *"
            }
          ]
        }
      },
      "id": "dcb-trigger",
      "name": "Daily 6:45 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/calendarView",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphOAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startDateTime",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "endDateTime",
              "value": "={{ $now.endOf('day').toISO() }}"
            },
            {
              "name": "$select",
              "value": "subject,start,end,location,organizer,isAllDay"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "dcb-calendar",
      "name": "Fetch Today Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 140],
      "credentials": {
        "microsoftGraphOAuth2": {
          "id": "ms-graph-oauth2",
          "name": "MS Graph OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "overdue,today"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "dcb-tasks",
      "name": "Fetch Overdue and Today Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/email/summary",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "unread,urgent"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "dcb-email",
      "name": "Fetch Email Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 460],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/agents/context",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cache_bust",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ calendar: $('Fetch Today Calendar').item.json, tasks: $('Fetch Overdue and Today Tasks').item.json, email: $('Fetch Email Summary').item.json, generated_at: $now.toISO() }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "dcb-context",
      "name": "POST Context to Pulse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/agents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "dcb-agents-list",
      "name": "Get Agent List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "agents",
        "options": {}
      },
      "id": "dcb-split",
      "name": "Split Agent List",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.health_endpoint }}/health",
        "options": {
          "timeout": 5000,
          "allowUnauthorizedCerts": false
        }
      },
      "id": "dcb-health-ping",
      "name": "Ping Agent Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "dcb-noop",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Daily 6:45 AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Today Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Overdue and Today Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Email Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today Calendar": {
      "main": [
        [
          {
            "node": "POST Context to Pulse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Overdue and Today Tasks": {
      "main": [
        [
          {
            "node": "POST Context to Pulse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Summary": {
      "main": [
        [
          {
            "node": "POST Context to Pulse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Context to Pulse": {
      "main": [
        [
          {
            "node": "Get Agent List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent List": {
      "main": [
        [
          {
            "node": "Split Agent List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Agent List": {
      "main": [
        [
          {
            "node": "Ping Agent Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Agent Health": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "pulse",
      "id": "tag-pulse"
    },
    {
      "name": "daily",
      "id": "tag-daily"
    },
    {
      "name": "phase-8",
      "id": "tag-phase8"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-21T00:00:00.000Z",
  "versionId": "1"
}
