integrations/n8n/workflows/01-daily-context-builder.json
{
  "name": "Daily Context Builder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/calendarview",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphOAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startdatetime",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "enddatetime",
              "value": "={{ $now.endOf('day').toISO() }}"
            },
            {
              "name": "$select",
              "value": "subject,start,end,location,organizer,isAllDay"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-calendar",
      "name": "Fetch Today Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, -150],
      "credentials": {
        "microsoftGraphOAuth2": {
          "id": "ms-graph-oauth2",
          "name": "MS Graph OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "overdue,today"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-tasks",
      "name": "Fetch Overdue + Today Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/email/summary",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-email-summary",
      "name": "Fetch Email Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 150],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/agents/context",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cache_bust",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "calendar",
              "value": "={{ JSON.stringify($('Fetch Today Calendar').item.json) }}"
            },
            {
              "name": "tasks",
              "value": "={{ JSON.stringify($('Fetch Overdue + Today Tasks').item.json) }}"
            },
            {
              "name": "email_summary",
              "value": "={{ JSON.stringify($('Fetch Email Summary').item.json) }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "post-context",
      "name": "POST Context to Pulse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/agents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-agents",
      "name": "Get Agent List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "agents",
        "options": {}
      },
      "id": "split-agents",
      "name": "Split Agent List",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://{{ $json.container_host }}:{{ $json.container_port }}/health",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ping-health",
      "name": "Ping Agent Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Fetch Today Calendar", "type": "main", "index": 0 },
          { "node": "Fetch Overdue + Today Tasks", "type": "main", "index": 0 },
          { "node": "Fetch Email Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Today Calendar": {
      "main": [
        [
          { "node": "POST Context to Pulse", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Overdue + Today Tasks": {
      "main": [
        [
          { "node": "POST Context to Pulse", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Email Summary": {
      "main": [
        [
          { "node": "POST Context to Pulse", "type": "main", "index": 0 }
        ]
      ]
    },
    "POST Context to Pulse": {
      "main": [
        [
          { "node": "Get Agent List", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Agent List": {
      "main": [
        [
          { "node": "Split Agent List", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Agent List": {
      "main": [
        [
          { "node": "Ping Agent Health", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "daily", "id": "tag-daily" },
    { "name": "context", "id": "tag-context" },
    { "name": "phase-8", "id": "tag-phase-8" }
  ],
  "triggerCount": 1,
  "active": false,
  "pinData": {},
  "versionId": "1"
}
