integrations/n8n/workflows/02-grievance-deadline-monitor.json
{
  "name": "Grievance Deadline Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/grievances",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-grievances",
      "name": "Fetch Open Grievances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "grievances",
        "options": {}
      },
      "id": "split-grievances",
      "name": "Split Grievances",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [450, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "due-within-7-days",
              "leftValue": "={{ DateTime.fromISO($json.due_date).diff($now, 'days').days }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "not-past-due-too-far",
              "leftValue": "={{ DateTime.fromISO($json.due_date).diff($now, 'days').days }}",
              "rightValue": -30,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-deadline",
      "name": "Filter Due Within 7 Days",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 0]
    },
    {
      "parameters": {
        "jsCode": "// Dedup using static data — skip if already alerted today\nconst staticData = $getWorkflowStaticData('global');\nconst today = $now.toFormat('yyyy-MM-dd');\n\nif (!staticData.alertedToday) {\n  staticData.alertedToday = {};\n}\n\n// Reset if new day\nif (staticData.lastAlertDate !== today) {\n  staticData.alertedToday = {};\n  staticData.lastAlertDate = today;\n}\n\nconst items = [];\nfor (const item of $input.all()) {\n  const caseId = item.json.case_id;\n  if (!staticData.alertedToday[caseId]) {\n    staticData.alertedToday[caseId] = true;\n    const daysRemaining = Math.ceil(\n      DateTime.fromISO(item.json.due_date).diff($now, 'days').days\n    );\n    items.push({\n      json: {\n        ...item.json,\n        days_remaining: daysRemaining,\n        is_urgent: daysRemaining <= 2\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "id": "dedup-code",
      "name": "Dedup Already Alerted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/agents/checkin",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"grievance_deadline\",\n  \"case_id\": \"{{ $json.case_id }}\",\n  \"facility\": \"{{ $json.facility }}\",\n  \"deadline\": \"{{ $json.due_date }}\",\n  \"days_remaining\": {{ $json.days_remaining }},\n  \"message\": \"Grievance {{ $json.case_id }} at {{ $json.facility }} is due in {{ $json.days_remaining }} day(s) — deadline {{ $json.due_date }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "post-alert",
      "name": "POST Alert to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-urgent",
              "leftValue": "={{ $json.is_urgent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-urgent",
      "name": "Filter Urgent (48h)",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1300, -150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.msTeamsWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠ URGENT Grievance Deadline: Case {{ $json.case_id }} at {{ $json.facility }} is due in {{ $json.days_remaining }} day(s) ({{ $json.due_date }}). Immediate attention required.\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "teams-webhook",
      "name": "POST to MS Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, -150]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Fetch Open Grievances", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Open Grievances": {
      "main": [
        [
          { "node": "Split Grievances", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Grievances": {
      "main": [
        [
          { "node": "Filter Due Within 7 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Due Within 7 Days": {
      "main": [
        [
          { "node": "Dedup Already Alerted", "type": "main", "index": 0 }
        ]
      ]
    },
    "Dedup Already Alerted": {
      "main": [
        [
          { "node": "POST Alert to Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "POST Alert to Agent": {
      "main": [
        [
          { "node": "Filter Urgent (48h)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Urgent (48h)": {
      "main": [
        [
          { "node": "POST to MS Teams", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "global": {
      "alertedToday": {},
      "lastAlertDate": ""
    }
  },
  "tags": [
    { "name": "daily", "id": "tag-daily" },
    { "name": "grievance", "id": "tag-grievance" },
    { "name": "phase-8", "id": "tag-phase-8" }
  ],
  "triggerCount": 1,
  "active": false,
  "pinData": {},
  "versionId": "1"
}
