integrations/n8n/workflows/04-weekly-report-aggregator.json
{
  "name": "Weekly Report Aggregator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * 5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/reports/week",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-weekly-data",
      "name": "Fetch Weekly Report Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the prompt for Ollama with the weekly data\nconst weekData = $input.first().json;\n\nconst prompt = `Summarize this week's staff activity for a union president. Highlight anything needing attention. Keep it under 200 words. Be direct.\\n\\nWeekly data:\\n${JSON.stringify(weekData, null, 2)}`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    raw_data: weekData\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Ollama Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.ollamaBaseUrl }}/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1:8b\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ollama-summarize",
      "name": "Ollama Summarize Week",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/reports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"weekly_summary\",\n  \"status\": \"draft\",\n  \"summary\": {{ JSON.stringify($json.response) }},\n  \"week_ending\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"generated_by\": \"n8n-weekly-report-aggregator\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "post-report",
      "name": "POST Draft Report to Pulse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/agents/checkin",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"weekly_report_ready\",\n  \"agent\": \"dave\",\n  \"message\": \"Weekly summary report is ready for your review.\",\n  \"report_id\": \"{{ $json.id || $json.report_id || 'draft' }}\",\n  \"week_ending\": \"{{ $now.toFormat('yyyy-MM-dd') }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "notify-dave",
      "name": "Notify Dave Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Fetch Weekly Report Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Weekly Report Data": {
      "main": [
        [
          { "node": "Build Ollama Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Ollama Prompt": {
      "main": [
        [
          { "node": "Ollama Summarize Week", "type": "main", "index": 0 }
        ]
      ]
    },
    "Ollama Summarize Week": {
      "main": [
        [
          { "node": "POST Draft Report to Pulse", "type": "main", "index": 0 }
        ]
      ]
    },
    "POST Draft Report to Pulse": {
      "main": [
        [
          { "node": "Notify Dave Agent", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "weekly", "id": "tag-weekly" },
    { "name": "report", "id": "tag-report" },
    { "name": "phase-8", "id": "tag-phase-8" }
  ],
  "triggerCount": 1,
  "active": false,
  "pinData": {},
  "versionId": "1"
}
