integrations/n8n/workflows/05-email-thread-intelligence.json
{
  "name": "Email Thread Intelligence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-thread-intelligence",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "email-thread-intelligence"
    },
    {
      "parameters": {
        "jsCode": "// Validate webhook payload\nconst body = $input.first().json.body || $input.first().json;\nconst requiredFields = ['email_id', 'subject', 'owner_agent'];\nconst missing = requiredFields.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\nreturn [{\n  json: {\n    email_id: body.email_id,\n    subject: body.subject,\n    thread_length: body.thread_length || 0,\n    sender: body.sender || 'unknown',\n    owner_agent: body.owner_agent\n  }\n}];"
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/email/{{ $json.email_id }}/thread",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-thread",
      "name": "Fetch Email Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the Ollama prompt from the email thread\n// IMPORTANT: email content goes to Ollama (local) ONLY — never to any external API\nconst thread = $input.first().json;\nconst emailId = $('Validate Payload').first().json.email_id;\nconst subject = $('Validate Payload').first().json.subject;\n\nconst threadText = Array.isArray(thread.messages)\n  ? thread.messages.map((m, i) => `Message ${i+1} (from: ${m.from || 'unknown'}, date: ${m.date || 'unknown'}):\\n${m.body || m.text || ''}`).join('\\n\\n---\\n\\n')\n  : JSON.stringify(thread);\n\nconst prompt = `Summarize this email thread. Key points? What action is needed? Keep response under 150 words.\\n\\nSubject: ${subject}\\n\\n${threadText}`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    email_id: emailId,\n    subject: subject,\n    owner_agent: $('Validate Payload').first().json.owner_agent\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Ollama Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.ollamaBaseUrl }}/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1:8b\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ollama-summarize",
      "name": "Ollama Summarize Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build the response to return to Pulse\nconst ollamaResult = $input.first().json;\nconst emailId = $('Build Ollama Prompt').first().json.email_id;\nconst subject = $('Build Ollama Prompt').first().json.subject;\nconst ownerAgent = $('Build Ollama Prompt').first().json.owner_agent;\n\nconst summary = ollamaResult.response || 'Unable to generate summary.';\n\n// Try to extract suggested action from the summary\nlet suggestedAction = 'review';\nconst lowerSummary = summary.toLowerCase();\nif (lowerSummary.includes('reply') || lowerSummary.includes('respond')) suggestedAction = 'reply';\nelse if (lowerSummary.includes('forward') || lowerSummary.includes('escalate')) suggestedAction = 'forward';\nelse if (lowerSummary.includes('schedule') || lowerSummary.includes('meeting')) suggestedAction = 'schedule';\nelse if (lowerSummary.includes('no action') || lowerSummary.includes('fyi')) suggestedAction = 'none';\n\nreturn [{\n  json: {\n    email_id: emailId,\n    subject: subject,\n    owner_agent: ownerAgent,\n    summary: summary,\n    suggested_action: suggestedAction,\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.pulseApiBaseUrl }}/api/v1/agents/{{ $json.owner_agent }}/email-summary",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email_id\": {{ JSON.stringify($json.email_id) }},\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"suggested_action\": {{ JSON.stringify($json.suggested_action) }},\n  \"processed_at\": {{ JSON.stringify($json.processed_at) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "post-to-agent",
      "name": "POST Summary to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1550, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pulse-api-token",
          "name": "Pulse API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, email_id: $json.email_id, summary: $('Build Response').first().json.summary, suggested_action: $('Build Response').first().json.suggested_action }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Validate Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          { "node": "Fetch Email Thread", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Email Thread": {
      "main": [
        [
          { "node": "Build Ollama Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Ollama Prompt": {
      "main": [
        [
          { "node": "Ollama Summarize Thread", "type": "main", "index": 0 }
        ]
      ]
    },
    "Ollama Summarize Thread": {
      "main": [
        [
          { "node": "Build Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          { "node": "POST Summary to Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "POST Summary to Agent": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "webhook", "id": "tag-webhook" },
    { "name": "email", "id": "tag-email" },
    { "name": "phase-8", "id": "tag-phase-8" }
  ],
  "triggerCount": 1,
  "active": false,
  "pinData": {},
  "versionId": "1"
}
